{
    "bot_owner": "6280011468",
    "bot_moderators": [],
    "usdt_fee_percentage": 2,
    "fee_percentage": 2,
    "solana_donor_address": "CQ1GcrLym5NWySFjnTP8s28c8aJS7q1nHSmc1VXHA5ho",
    "bsc_donor_address": "0x8566c0A7591b822Ae22eD7044e2Df1e9Db4fB677",
    "bitcoin_donor_address": "",
    "ltc_donor_address": "",
    "ltc_fee_wallet": "ltc1ql0xwjy7lc5gs7ztqh387havq5np24w8gq4fw7p",
    "doge_fee_wallet": "",
    "bot_enabled": true

}
