python-telegram-bot[job-queue]==22.8
setuptools<81.0.0
pytz==2024.1
requests==2.31.0
base58==2.1.1
bech32==1.2.0
ecdsa==0.19.0
requests==2.31.0
blockcypher==1.0.93
hdwallet==2.2.1
solana==0.34.3
solders==0.21.0
solathon==1.0.7
sqlalchemy==2.0.32
pymysql==1.1.1
eth_account==0.13.3
python-dotenv==1.0.1
cryptography==43.0.0
psutil==6.0.0
web3==7.8.0
